@import 'https://necolas.github.io/normalize.css/3.0.3/normalize.css';
.jumbo {
  height: 100vh; //visual height units
  border: 1px solid #000000;
  background: image_url("concert_01.jpg");
  background-size: cover; // scale as the .jumbo grows and shrinks
  background-position: center; // center the bg instead of putting at top-left

}
