<div class="col-xs-12 col-md-6 col-md-offset-3 well box event">
  <p>
    <strong>Thank you for booking us for your event! Your card has been charged half of the performance price. The other half of the performance price will  will be collected within 24 hours of sound check. If there is no soundcheck, the remaining balance will be charged to your card within 24 hours of the performance start time.
  </p></strong>
</div>
