<html>
  <body>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <div class="">
      <div class="">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
